.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

@media (max-width: 703px) {
  .layout {
    flex-direction: column-reverse;
  }

  .main {
    height: calc(100% - 72px);
  }
}
