html,
body,
p {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1, h2 {
  all: unset;
}

button, select {
  box-sizing: border-box;
}

img, svg {
  display: block;
}

#root {
  background: #102438;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.content {
  width: 1024px;
  max-width: 1024px;
  height: 640px;
  transform: translateY(-114px);
  display: flex;
  flex-direction: column;

}

.titlearea {
  font-size: 40px;
  text-align: center;
  display: block;
  margin-bottom: 32px;
}

.titlearea_small {
  font-size: 28px;
  margin-top: 16px;
}

.background {
  background: #ffffff0d;
  border-radius: 6px;
  flex-grow: 1;
  min-height: 0;
}


@media (max-width: 1087px) {
  .content {
    width: 640px;
    max-width: 640px;
    height: 800px;
    transform: translateY(-112px);
  }

  .titlearea {
    font-size: 32px;
  }

  .titlearea_small {
    font-size: 22px;
  }
}
