.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  margin-bottom: 128px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link, .nav-link:visited, .nav-link:active {
  line-height: 1;
  font-size: 24px;
  color: #ffffffc0;
  text-decoration: none;
  border-radius: 6px;
  padding: 0 16px;
  margin: -12px 0;
}
.nav-link:hover {
  background: #ffffff0d;
}

.nav-link.active, .nav-link.active:visited, .nav-link.active:active {
  color: #ffffff;
}

.gh-link {
  margin-left: 16px;
}

@media (max-width: 1087px) {
  .nav-link, .nav-link:visited, .nav-link:active {
    font-size: 22px;
  }

  .gh-icon {
    height: 32px;
    width: 32px;
  }

  .logo {
    height: 32px;
    width: auto;
  }
}
